<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tubelet</title>
    <meta name="description" content="A cool Mux thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    
    <script src="https://unpkg.com/mithril/mithril.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <h1>What's it gonna be?</h1>

    <iframe src="https://discordapp.com/widget?id=507627062434070529&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
  </body>
</html>
