* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

video {
  max-width: 100%;
}

.archivePreview {
  width: 100px;
}

ul.recentStreams {
  padding: 0;
  display: flex;
}

ul.recentStreams li {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

ul.recentStreams li:last-child {
  margin-right: 0;
}

ul.recentStreams .time {
  font-size: 0.6em;
}
