@font-face {
  font-family:'NotCourier';
  src:url('/assets/fonts/NotCourierSans.woff2') format('woff2'),url('/assets/fonts/NotCourierSans.woff') format('woff'),url('/assets/fonts/NotCourierSans.otf') format('opentype');
  font-style:normal;font-weight:400;
}

:root {
  --ft-ss: 'Arial', sans-serif;
  --ft-ms: 'Not Courier', monospace;
  --c-wh: #fff;
  --c-yl: #ff0;
  --c-bl: blue;
  --c-bk: #000;
}

html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, input, button, figure, video { margin: 0; padding: 0 }

a {
  color: inherit;
}

input,
button {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.1;
  font-family: var(--ft-ss);
  color: var(--c-bk);
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em, i {
  font-family: var(--ft-it);
}

strong, b {
  font-family: var(--ft-bd);
}

.ft-ss {
    font-family: var(--ft-ss);
}

.ft-ms {
    font-family: var(--ft-ms);
}

.l-999 {
  left: -999px;
}

.bsh-t {
  box-shadow: 0 -1em 1em rgba(0,0,0,0.3)
}

.bsh-b {
  box-shadow: 0 1em 1em rgba(0,0,0,0.3)
}

.br1 {
  border-radius: 1rem;
}

.bsh {
  box-shadow: 0 0 1em rgba(0,0,0,0.5)
}

.btlr {
  border-top-left-radius: 1.5rem;
}

.video-ar {
  width: 100%;
  height: calc((9 / 16) * 100vw);
  max-height: calc(100vh - 250px);
  min-height: 480px;
  overflow: hidden;
}

.w-chat {
  width: 36%;
}

@media screen and (min-width: 39rem) {
  .md-w-chat {
    width: 16.5rem;
  }
}

.t50 {
  top: 50%;
}

.l50 {
  left: 50%; 
}

.ttcc {
  transform: translate(-50%, -50%)
}
